@font-face {
	font-family: myFirstFont;
	src: url(Fonts/A_Anubhuti\ Normal.ttf);
}

* {
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	/* background-color: #D61C4E; */

}

body {
	background-image: linear-gradient(to left top,
			#D61C4E,
			#f77e21,
			#FAC213,
			#FEF9A7);
	background-repeat: no-repeat;
}

#navbar {
	display: flex;
	height: 80px;
	width: 100%;
	background-color: #D61C4E;
	position: fixed;
	z-index: 10;
}

.logos {
	position: relative;
	display: flex;
	color: #FEF9A7;
	text-align: center;
}

.logos img {
	margin: 2px 13px;
}

.logos h1 {
	align-items: center;
	text-align: center;
	font-size: 35px;
	font-weight: bolder;
	padding: 8px 120px;
}

h2 {
	overflow: hidden;
}

.logos .img2 {
	align-items: end;
}

.links {
	display: flex;
	list-style: none;
	text-decoration: none;
}

.links li {
	font-size: 20px;
	padding: 0 20px;
	color: #fff;
}

.links li a:hover {
	color: #91640F;
	/* border: 2px solid #607d8b !important; */

}

.navbar {
	height: 50px;
	overflow-y: hidden;
	width: 100%;
	position: fixed;
	top: 80px;
	z-index: 10;
	background-image: linear-gradient(to right, #D61C4E, #FEF9A7);
}



.carousel-item img {
	width: 100%;
}


/* About Section */
#about {
	margin-top: 130px;
}

#about h1 {
	padding: 10px;
	font-size: 45px;
	text-align: center;
	font-weight: bold;
	color: #D61C4E;
}

#about .under {
	width: 250px;
	color: #D61C4E;
	border-width: 2px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
	margin: -20px 40% 5px 40%;
}

.aboutImg {
	text-align: center;
}

#aboutImg {
	width: 80%;
	height: 450px;
}

#aboutText {
	margin-top: 10px;
	font-size: 16px;
}

/* Informarion */

#info {
	margin-top: 130px;
}

#info h1 {
	padding: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#info .under {
	width: 440px;
	color: #FEF9A7;
	margin: -20px 20% 5px 33%;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

.infoCard {
	text-align: center;
	align-items: center;
	background-image: url('img/imagess.jpeg');
	border: 1px solid #D61C4E;
	margin: 20px;
	width: 90%;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.infoCard h5 {
	color: #D61C4E;
	font-weight: bolder;
	overflow: hidden;
}




/* Footer */
#footers {
	padding-top: 20px;
	background: #292828;
	color: #fff;
}

.footerHead {
	display: flex;
}

h3 {
	font-size: 20px;
	overflow: hidden;
}

/* Gallery */
#gallery {
	margin-top: 130px;
}

#gallery h1 {
	padding: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#gallery .under {
	width: 130px;
	margin: -40px 45% 5px 45%;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}


/* Wedding */
#wedding {
	margin-top: 130px;
	text-align: center;
}

#wedding .under {
	width: 650px;
	margin: -40px 24% 5px 24%;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#wedding h3 {
	padding: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}

#wedding .mainImg {
	width: 90%;
	height: 500px;
	border-radius: 20px;
	margin: 10px;
}

#wedding h4 {
	padding: 22px 0px;
	font-size: 29px;
	font-weight: bold;
	text-align: center;
	line-height: 1px;

}

#wedding h6 {
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
	overflow: hidden;
}

#wedding h2 {
	font-size: 29px;
	font-weight: bold;
	color: #4b4848;
	text-align: center;
	overflow: hidden;
}

.details {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-items: center;

}

.details .Menimage {
	width: 40%;
}

.details .Menimage img {
	width: 80%;
	height: 180px;
}

.center {
	text-align: center;
}

.center img {
	width: 50%;
	height: 110px;
}

.center h4 {
	color: #FEF9A7;
	margin: 2px;
}


/* News */
#news {
	margin-top: 130px;
}

#news h1 {
	padding: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#news .under {
	width: 180px;
	height: 18px;
	margin: -50px 45% 0px 43%;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#news h6 {
	text-align: left;
}


#teamCom {
	margin-top: 10px;
}

#teamCom h1 {
	padding: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #FEF9A7;
	text-align: center;
}


#teamCom .under {
	width: 130px;
	margin: -40px 45% 5px 45%;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

/* Contact */

#contactForm {
	margin-top: 135px;
}

/* Register */

#registerUser {
	margin-top: 130px;
}

label {
	font-weight: 600;
	color: #666;
}

.box8 {
	box-shadow: 0px 0px 5px 1px #999;
}

@media screen and (max-width: 480px) {
	.logos {
		font-size: 9px;
	}

	img {
		margin: 0;
	}

	.logos h1 {
		padding: 0px;
		font-size: 20px;
	}


	.links li {
		font-size: 15px;
		padding: 0 10px;
		color: #D61C4E;
	}

	.navbar {
		height: 50px;
		width: 100%;
		background-color: #FEF9A7;
	}


	.carousel-item {
		top: 50px;
	}

	/* About Section */

	#about .under {
		width: 130px;
		margin: -20px 34% 5px 34%;
	}

	#about h1 {
		font-size: 25px;
		color: #FEF9A7;
	}


	#aboutText {
		margin-top: 10px;
		font-size: 14px;
		color: #FEF9A7;
	}

	#aboutImg {
		width: 50%;
		height: 200px;
	}


	/* Information */
	#info h1 {
		font-size: 25px;
	}

	#info .under {
		width: 250px;
		margin: -20px 34% 5px 20%;

	}

	/* Gallery */

	#gallery h1 {
		font-size: 35px;
	}


	#gallery .under {
		width: 90px;
		margin: -20px 45% 5px 40%;
	}

	/* Team */

	#teamCom .team h5 {
		font-size: 16px;
	}

	#teamCom .team {
		margin: 9px;
	}

	#teamCom h1 {
		font-size: 35px;
	}


	#teamCom .under {
		width: 90px;
		margin: -20px 45% 5px 40%;
	}

	#news h1 {
		font-size: 35px;
	}

	#news .under {
		width: 110px;
		margin: -20px 38% 5px 38%;
	}


	/* Wedding */

	#wedding .under {
		width: 350px;
		margin: -40px 24% 5px 8%;
	}

	#wedding .mainImg {
		height: 300px;
	}

	#wedding h3 {
		font-size: 25px;
	}

	#wedding h4 {
		font-size: 8px;
		padding: 5px;
		line-height: 1px;

	}

	#wedding h6 {
		font-size: 8px;
		margin: 2px;
	}

	.details {
		display: flex;
	}

	.details .Menimage {
		width: 55%;
	}

	.details .Menimage img {
		width: 80%;
		height: 70px;
	}

	.center {
		text-align: center;
		/* top: 50%; */
	}

	.center img {
		width: 50%;
		height: 50px;
	}

	#wedding h2 {
		font-size: 12px;
	}


}