* {
	margin: 0;
	overflow-x: hidden;
	padding: 0;

}

body {
	background-image: linear-gradient(to left top,
			#D61C4E,
			#f77e21,
			#FAC213,
			#FEF9A7);
	background-repeat: no-repeat;
}

#navbar {
	display: flex;
	height: 80px;
	width: 100%;
	background-color: #D61C4E;
	position: fixed;
	z-index: 10;
}

.logos {
	position: relative;
	display: flex;
	color: #FEF9A7;
	text-align: center;
	align-items: center;
	width: 100%;
}

.logos img {
	margin: 2px 13px;
}

.logos h1 {
	padding-top: 7px;
	align-items: center;
	line-height: normal;
	text-align: center;
	font-size: 35px;
	font-weight: bolder;
}


.logos .img2 {
	align-items: end;
}


.navbar-nav .nav-link:hover {
	color: #91640F;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 80px;
	z-index: 10;
	background-image: linear-gradient(to right, #D61C4E, #FEF9A7);
}



.carousel img {
	width: 100%;
	height: 550px;
}


/* About Section */
#about {
	margin-top: 140px;
	text-align: center;
}

#abouts {
	margin-top: 20px;
	text-align: center;
}

#about h1 {
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	color: #D61C4E;
	line-height: normal;
}

#about .under {
	width: 250px;
	color: #D61C4E;
	border-width: 2px;
	margin-top: -25px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

.aboutImg {
	text-align: center;
}

#aboutImg {
	width: 80%;
	height: 450px;
}

#aboutText {
	text-align: start;
	margin-right: 15px;
	margin-top: 35px;
	font-size: 16px;
}


#abouts h1 {
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	color: #D61C4E;
	line-height: normal;
}

#abouts .under {
	width: 250px;
	color: #D61C4E;
	border-width: 2px;
	margin-top: -25px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

/* Informarion */

#info {
	margin-top: 130px;
	text-align: center;
}

#info h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#info .under {
	width: 440px;
	color: #FEF9A7;
	margin-bottom: 20px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

.infoCard {
	text-align: center;
	align-items: center;
	background-image: url('img/imagess.jpeg');
	border: 1px solid #D61C4E;
	margin: 20px;
	width: 90%;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.infoCard h5 {
	color: #D61C4E;
	font-weight: bolder;
}



#infos {
	margin-top: 10px;
	text-align: center;
}

#infos h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#infos .under {
	width: 480px;
	color: #FEF9A7;
	margin-bottom: 20px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}


/* Footer */
#footers {
	padding-top: 20px;
	background: #f3f1cd;
	color: #000;
}

.footerHead {
	display: flex;
}

#footers h3 {
	font-size: 20px;
	line-height: normal;
}

.footerHead p {
	line-height: normal;
	font-size: small;
}

/* Gallery */
#gallery {
	margin-top: 130px;
	text-align: center;
}

#gallery h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#gallery .under {
	width: 150px;
	margin-top: -20px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}


/* Gallery */
#gallerys {
	margin-top: 130px;
	text-align: center;
}

#gallerys h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#gallerys .under {
	width: 510px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

/* Karmawati pansion */
#karma {
	margin-top: 130px;
	text-align: center;
}

#karma .under {
	width: 350px;
	margin-top: -20px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#karma h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


/* Karmawati Year pansion */
#karmatiYear {
	margin-top: 130px;
	text-align: center;
}

#karmatiYear .under {
	width: 450px;
	margin-top: -10px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#karmatiYear h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


/* Wedding */
#wedding {
	margin-top: 130px;
	text-align: center;
}

#wedding .under {
	width: 900px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#wedding h3 {
	padding-top: 20px;
	font-size: 45px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}

#wedding .mainImg {
	width: 90%;
	height: 500px;
	border-radius: 20px;
	margin: 10px;
}

#wedding h4 {
	padding: 22px 0px;
	font-size: 29px;
	font-weight: bold;
	text-align: center;
	line-height: 1px;

}

#wedding h6 {
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
	overflow: hidden;
}

#wedding h2 {
	font-size: 29px;
	font-weight: bold;
	color: #4b4848;
	text-align: center;
	overflow: hidden;
}

.details {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-items: center;

}

.details .Menimage {
	width: 40%;
}

.details .Menimage img {
	width: 80%;
	height: 180px;
}

.center {
	text-align: center;
}

.center img {
	width: 50%;
	height: 110px;
}

.center h4 {
	color: #FEF9A7;
	margin: 2px;
}


/* News */
#news {
	margin-top: 130px;
	text-align: center;
}

#news h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#news .under {
	width: 180px;
	margin-top: -25px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#news h6 {
	text-align: left;
}


#teamCom {
	margin-top: 10px;
	text-align: center;
}

#teamCom h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}


#teamCom .under {
	width: 170px;
	margin-top: -25px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

/* Contact */

#contactForm {
	margin-top: 135px;
	text-align: center;
}

#contactForm h1 {
	color: #D61C4E;
	font-size: 35px;
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	line-height: normal;
}


#contactForm .under {
	width: 280px;
	color: #FEF9A7;
	margin-top: -30px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

/* Register */

#registerUser {
	margin-top: 130px;
	text-align: center;
}



#registerUser .under {
	width: 600px;
	color: #FEF9A7;
	margin-top: -10px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#registerUser h2 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bolder;
}

#registerUser form {
	text-align: left;
}

label {
	font-weight: 600;
	color: #D61C4E;    
	margin-top: 10px;
    margin-bottom: -5px;
}

.box8 {
	box-shadow: 0px 0px 5px 1px #999;
}

.card-body h4 {
	font-size: 20px;
}

.card-body a {
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: static;
}

.blog-body {
	padding: 0px 10px 10px 10px;
}


/* News Details */
#newDetails {
	text-align: center;
	margin-top: 130px;
}

#newDetails h1 {
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
	color: #D61C4E;
	text-align: center;
}

#newDetails .under {
	width: 550px;
	color: #D61C4E;
	border-width: 2px;
	filter: brightness(1.2) sepia(1) hue-rotate(45deg);
}

#newDetails p {
	text-align: left;
	font-size: 20px;
}

#newDetails .container {
	margin-top: 30px;
}

#short {
	margin: 20px 0px 0px 20px;
}

#long {
	margin-left: 20px;
}

@media screen and (max-width: 480px) {
	.logos {
		font-size: 10px;
	}

	.logos img {
		padding: 0;
		margin: 0;
		width: 40px;
		height: 60px;
	}

	.logos h1 {
		padding: 0px;
		font-size: 20px;
	}


	.navbar-nav .nav-link {
		font-size: 15px;
		padding-top: 10px;
		color: #D61C4E;
	}


	.carousel {
		margin-top: 130px;
	}

	.carousel img {
		height: 350px;
	}

	/* About Section */

	#about .under {
		width: 230px;
	}

	#about h1 {
		font-size: 25px;
	}


	#abouts .under {
		width: 230px;
	}

	#abouts h1 {
		font-size: 25px;
	}


	#aboutText {
		margin-top: 10px;
		font-size: 14px;
		color: #D61C4E;
		margin-left: 20px;
		margin-right: 15px;
	}

	#aboutImg {
		width: 50%;
		height: 200px;
	}


	/* Information */
	#info h1 {
		font-size: 25px;
	}

	#info .under {
		width: 350px;
		margin-top: -5px;
	}

	#infos h1 {
		font-size: 25px;
	}

	#infos .under {
		width: 350px;
		margin-top: -5px;

	}

	/* Gallery */

	#gallery h1 {
		font-size: 25px;
	}


	#gallery .under {
		width: 150px;
		margin-top: -20px;
	}

	/* Galler Year */

	#gallerys h1 {
		font-size: 20px;
	}


	#gallerys .under {
		width: 330px;
	}

	/* Team */

	#teamCom .team h5 {
		font-size: 12px;
	}

	#teamCom .team {
		margin: 9px;
	}

	#teamCom h1 {
		font-size: 25px;
	}


	#teamCom .under {
		width: 150px;
	}

	#news h1 {
		font-size: 25px;
	}

	#news .under {
		width: 210px;
		margin-top: -20px;
	}


	/* Karmawati pansion */

	#karma .under {
		width: 250px;
	}

	#karma h1 {
		font-size: 25px;
	}


	/* Karmawati Year pansion */

	#karmatiYear .under {
		width: 300px;
	}

	#karmatiYear h1 {
		font-size: 25px;
	}


	/* Wedding */

	#wedding .under {
		width: 350px;
		margin-top: -10px;
	}

	#wedding .mainImg {
		height: 300px;
	}

	#wedding h3 {
		font-size: 16px;
	}

	#wedding h4 {
		font-size: 8px;
		padding: 5px;
		line-height: 1px;

	}

	#wedding h6 {
		font-size: 8px;
		margin: 2px;
	}

	.details {
		display: flex;
	}

	.details .Menimage {
		width: 55%;
	}

	.details .Menimage img {
		width: 80%;
		height: 70px;
	}

	.center {
		text-align: center;
		/* top: 50%; */
	}

	.center img {
		width: 50%;
		height: 50px;
	}

	#wedding h2 {
		font-size: 12px;
	}


	#newDetails {
		text-align: center;
		margin-top: 130px;
	}

	#newDetails h1 {
		font-size: 25px;
	}

	#newDetails .under {
		width: 300px;
		margin-top: -10px;
	}


	#contactForm h1 {
		font-size: 25px;
	}


	#contactForm .under {
		width: 180px;
		margin-top: -49px;
	}

	#registerUser .under {
		width: 350px;
	}
	
	#registerUser h2 {
		font-size: 25px;
	}

	#registerUser h2 {
		font-size: 25px;
	}
}


#karmatiYear h5 {
	font-size: 14px;
	margin-top: 2px;
	line-height: normal;
	padding: 0;
}
#karmatiYear img {
	margin-bottom: 10px;
	padding: 0;
}

#karmatiYear .card-body {
	padding: 0;
	margin: 0;
}
